body{
font-family: Arial;
background:#1e1e2f;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.main{
display:flex;
flex-direction:column;
align-items:center;
gap:25px;
width:100%;
}

.container{
background:#2e2e48;
padding:25px;
border-radius:10px;
width:350px;
text-align:center;
}

.instructions{
background:#3b3b5f;
padding:10px;
border-radius:6px;
margin-bottom:10px;
font-size:14px;
}

input{
width:90%;
padding:10px;
margin:8px;
border:none;
border-radius:5px;
}

button{
padding:10px 15px;
border:none;
background:#4CAF50;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#45a049;
}

#feedback{
margin-top:10px;
font-weight:bold;
}

.alphabetPanel{
background:#2e2e48;
padding:20px;
border-radius:10px;
text-align:center;
width:100%;
max-width:900px;
}

.alphabetTable{
border-collapse:collapse;
width:100%;
table-layout:fixed;
}

.alphabetTable td{
border:1px solid white;
padding:8px;
text-align:center;
font-size:14px;
width:3.8%;
}

